####  Implement and demonstrate the candidate elimination algorithms operating on a given dataset. Compare Find S algorithm and candidate elimination algorithm.
- Name : Pranit Rohokale
- ID : 191070061

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("titanic.csv")

In [4]:
df=pd.read_csv("titanic.csv")
m=len(df.axes[0])
n=len(df.axes[1])
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
def g_0(n):
    return ("?",)*n

def s_0(n):
    return ('0',)*n

**Helper Functions**

In [6]:
def more_general(h1, h2):
    more_general_parts = []
    for x, y in zip(h1, h2):
        mg = x == "?" or (x != "0" and (x == y or y == "0"))
        more_general_parts.append(mg)
    return all(more_general_parts)

In [7]:
# min_generalizations
def fulfills(example, hypothesis):
    ### the implementation is the same as for hypotheses:
    return more_general(hypothesis, example)

def min_generalizations(h, x):
    h_new = list(h)
    for i in range(len(h)):
        if not fulfills(x[i:i+1], h[i:i+1]):
            h_new[i] = '?' if h[i] != '0' else x[i]
    return [tuple(h_new)]

In [8]:
def min_specializations(h, domains, x):
    results = []
    for i in range(len(h)):
        if h[i] == "?":
            for val in domains[i]:
                if x[i] != val:
                    h_new = h[:i] + (val,) + h[i+1:]
                    results.append(h_new)
        elif h[i] != "0":
            h_new = h[:i] + ('0',) + h[i+1:]
            results.append(h_new)
    return results

### Preprocessing

In [9]:
ages = ["minor", "major"]
x=-1
for i in range(m):
    if df.iloc[i, 4] <= 18:
        x = 0
    else:
        x = 1
    df.iloc[i, 4] = ages[x]
df

TypeError: '<=' not supported between instances of 'str' and 'int'

In [ ]:
df.drop(['Name','Fare'],inplace=True,axis=1)
df

In [ ]:
cols=list(df.columns)
cols=['Pclass',
'Sex',
'Age',
'Siblings/Spouses Aboard',
'Parents/Children Aboard','Survived']
df=df.reindex(columns=cols)
df

In [ ]:
examples = [tuple(x) for x in df[cols].to_numpy()]
examples